<%- include partials/header %>

<div class="container">
  <div class="row">
    <h3>Flutterwave VBVSecurecode Tutorial</h3>
    <form role="form" name="flw_vbv" action="/card/pay" method="post">
      <div class="row">
        <div class="form-group">
          <div class="col-md-8">
            <label>Card Number</label>
            <input type="text" id="flw_ccno" class="form-control" placeholder="Enter your card number" required>
          </div>
          </div>
            <div class="col-xs-4">
              <label>MM</label>
              <input type="text" id="flw_ccmonth" class="form-control" placeholder="Month" required>
            </div>
          <div class="col-xs-4">
            <label>YY</label>
            <input type="text" id="flw_ccyear" class="form-control" placeholder="Year" required>
          </div>
          <div class="col-xs-4">
            <label>CVV</label>
            <input type="number" id="flw_cvv" class="form-control" placeholder="CVV" required="3">
          </div>
          <div class="col-sm-6">
            <label>Route Country</label>
            <select class="form-control" id="flw_rcountry">
              <option value="NG">NG: Nigeria</option>
              <option value="GH">GH: Ghana</option>
              <option value="KE">KE: Kenya</option>
              <option value="US">US: United States</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label>Currency</label>
            <select class="form-control" id="flw_currency">
              <option value="NGN">NGN</option>
              <option value="GSH">GSH</option>
              <option value="USD">USD</option>
              <option value="EUR">EUR</option>
            </select>
          </div>
          <div class="col-sm-6">
            <label>Amount</label>
            <input type="text" id="flw_amnt" class="form-control" placeholder="Amount" required>
          </div>
          <div class="col-md-6">
              <label>Transaction Description</label>
              <input type="text" id="flw_desc" class="form-control" placeholder="Description">
          </div>
          <div class="col-md-6">
            <button type="button" name="flw_btn" class="btn btn-default" id="flw-btnpay" data-toggle="modal" data-target="#modalvalidate">Pay</button>
          </div>
      </div>
    </form>




    <!-- Modal Validate card -->
    <div class="modal fade" id="modalvalidate" role="dialog">
      <div class="modal-dialog">

        <!-- Modal Content -->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" id="closemodal">&times;</button>
            <h4>Validate Card</h4>
          </div> <!-- End of modal header -->

          <div class="modal-body">
            <div class="container">
              <p>Validate your card to complete your payment</p>
              <a href="#" class="btn btn-default" onclick="newIframe()" data-toggle="modal" data-dismiss="modal" data-target="#modaliframe">Validate card</a>
            </div>
          </div>

        </div> <!-- End of modal content -->

      </div> <!-- End of Modal Dialog -->
    </div> <!-- End of Modal Fade -->

    <!-- Modal loads VBV/SECURECODE Iframe -->
    <div class="modal fade" id="modaliframe" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body" id="appendiframe">

          </div>

        </div> <!-- End of Modal Content -->
      </div> <!-- End of Modal Dialog
    </div> <!-- End of Modal fade -->
  </div>
</div>

<%- include partials/footer %>
