<%- include partials/header %>

  <section>
    <div class="container">
      <div class="row">
        <h2>Payment Successful!</h2>
      </div>
    </div>

  </section>



<%- include partials/footer %>
