<%- include partials/header %>

  <section>
    <div class="container">
      <div class="row">
        <h2>Payment Unsucceful: <%=message %></h2>
      </div>
    </div>

  </section>



<%- include partials/footer %>
